.App {
    text-align: center;
  }
  
  html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  }

/* NAVBAR */

.navbar {
    margin-top: 0.1em!important;
    text-align: center;
    background-color: #D1DADC; 
    max-width: 100;
}

#hamburger {
    color: #D1DADC;
}

/* HOMEPAGE */

.platinum {
    display: block;
    position: relative;
    text-align: center;
    background-color: #E5E5E5; 
    max-width: 100;
    padding-left: 1.1em;
    padding-right: 1.1em;
}

.welcome {
    display: block;
    position: relative;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #525252;
    font-size: 1.9em;
}

.helpful {
    display: block;
    position: relative;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #525252;
    font-size: 1.2em;
}

.dustyBlue {
    background-color: #D1DADC; 
    max-width: 100;
}


/* SERVICE POSTS */

.serviceCard {
    display: inline-block;
    position: relative;
    text-align: center;
    margin-bottom: 1.25em;
}

ul {
    list-style: none;
}