.App {
    text-align: center;
  }
  
  html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  }

/* NAVBAR */

.navbar {
    margin-top: 0.1em!important;
    text-align: center;
    background-color: #D1DADC; 
    max-width: 100;
}


/* HOMEPAGE */

.platinum {
    text-align: center;
    background-color: #E5E5E5; 
    max-width: 100;
}

.dustyBlue {
    text-align: center;
    background-color: #D1DADC; 
    max-width: 100;
}

.welcome {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #525252;
    font-size: 2.5em;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #525252;
    font-size: 1.5em;
}