.App {
    text-align: center;
  }
  
  html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  }

/* NAVBAR */

.header {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: center!important;
}

.navbar {
    margin-top: 0.01em!important;
    text-align: center;
    background-color: #D1DADC; 
    width: 100%;
}

.navbarColumn {
    text-align: right;
    font-weight: 500;
    font-size: 1.08em;
}

#hamburger {
    color: #D1DADC;
}

/* HOMEPAGE */

.platinum {
    display: block;
    position: relative;
    text-align: center;
    background-color: #E5E5E5; 
    max-width: 100;
    padding-left: 1.1em;
    padding-right: 1.1em;
}

.welcome {
    display: block;
    position: relative;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #525252;
    font-size: 1.9em;
}

.helpful {
    display: block;
    position: relative;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #525252;
    font-size: 1.2em;
}

.dustyBlue {
    background-color: #D1DADC; 
    max-width: 100;
}

/* FOOTER */

#footer {
    border-top: 1px solid #E7E7E7;
    text-align: center;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.phantom {
    display: block;
    padding: 20px;
    height: 60px;
    width: 100%;
  }

.copyrightText {
    font-size: .85em;
}


/* NEW POSTS */

.postContainer {
    display: block;
    position: relative;
    text-align: center;
}

.checkbox {
    margin: 20px;
}

#instances {
    display: block;
    position: relative;
    text-align: center;
    width: 8em;
}

/* SERVICE POSTS */

.serviceCard {
    display: inline-block;
    position: relative;
    text-align: center;
    margin-bottom: 1.25em;
}

ul {
    list-style: none;
}


/* MENU */

.menuHeader{
    display: inline-block;
    position: relative;
    text-align: center;
    font-weight: 800;
    word-spacing: .1em;
}

.houses {
    display:block;
    margin: 0 auto;    
}